{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "settings": {
    "node": {
      "tryExtensions": [".js", ".json", ".node", ".ts"]
    }
  },
  "rules": {
    "no-console": "off"
  }
}